*{
    margin:0;
    padding:0 ;
}
.nav{
    height: 60px;
    width: 100%;
    background-color:#a98467;
    position: fixed;
    z-index:4;
}
.body{
    height: 600px;
    width: 100%;
    background-color:#adc178;
}
.body2{
    height: 600px;
    width: 100%;
    background-color:#f0ead2;

}
.rel{
    height:300px;
    width: 300px;
    position: relative;
    background-color:#91f1b3;
    z-index: 1;
}
.body3{
    height: 600px;
    width: 100%;
    background-color:#dad7cd;
    z-index: 0;
}
.sti{
    height:300px;
    width: 300px;
    background-color:#6c584c;
    left: 900px;
    top:60px;
   position:sticky;
   z-index: 3;
}